html,
body {
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(to right, #7f348b 0%,#f76671 100%);
	color: #fff;
}

.text-right { text-align: right; }

.page_login {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(to right, #7f348b,#f76671);
	opacity: 1;
	transition: left 0s 0.3s, opacity 0.3s 0s;
}

.is-connected .page_login {
	left: -100%;
	opacity: 0;
}

.form_login .form_pseudo {
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	padding: 0.5em;
	margin-bottom: 1em;
	font-size: 2em;
	color: #fff;
}

.form_login .form_pseudo::placeholder {
	color: #fff;
}

.form_login .form_submit {
	border: 0;
	border-radius: 3px;
	padding: 1em 1.2em;
	color: #fff;
	background: linear-gradient(to bottom, #23a4fa,#1a9bf1);
	cursor: pointer;
}

/*
 * page_channel
 */

.page_channel {
	display: flex;
	flex-direction: row;
	height: 100vh;
}

.channel-action {
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 100vh;
}

.channel-members {
	width: 250px;
	background: #faa;
}

.channel-action .channel-history {
	flex: 1;
}

.form_channel {
	display: flex;
	flex-direction: row;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.form_channel .form_channel-message {
	flex: 1;
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	padding: 0.5em;
	font-size: 1.2em;
	color: #fff;
}

.form_channel .form_channel-submit {
	border: 0;
	padding: 1em 1.2em;
	color: #fff;
	background: linear-gradient(to bottom, #23a4fa,#1a9bf1);
	cursor: pointer;
}